<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>makerTests v2021.06</title>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>

<body>
<header th:insert="~{fragments/navbar :: navbarBtnTop}"></header>

<!-- Bootstrap JS + Popper JS -->
<script defer th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>
